<div class="container-fluid game-container">
  <div class="row controls-row">
    <div class="col-1">
      <button (click)="runCode()" class="btn btn-outline-primary" *ngIf="!isRunningCode"
              id="btn-run"
              data-html="true"
              data-placement="bottom"
              data-content="To run your program click this button. It will reduce the number in cell (0, 0) by one.">

        Run Code
      </button>
      <button (click)="stopCode()" class="btn btn-danger" *ngIf="isRunningCode">Stop Code</button>
    </div>
    <div class="col-5 text-right">
      <div class="btn btn-secondary disabled" [class.btn-danger]="usedIfs > ifCount">
        If: {{ usedIfs }} / {{ ifCount }}
      </div>
      <div class="btn btn-secondary disabled" [class.btn-danger]="usedLoops > loopCount"
           id="btn-loop"
           data-html="true"
           data-placement="bottom"
           data-content="Your program can only use a limited number of if statements, loops and ReduceCell calls. The number of remaining counts is listed here.<br /><button class='btn btn-sm btn-primary btn-level popover-btn' onclick='nextTutorialPopup()'>Continue</button>">
        Loop: {{ usedLoops }} / {{ loopCount }}
      </div>
      <div class="btn btn-secondary disabled" [class.btn-danger]="usedFunctions > functionCount">
        ReduceCell: {{ usedFunctions }} / {{ functionCount }}
      </div>
    </div>
    <div class="col-6 col-level-name">
      <h4 class="level-name">
        <img *ngIf="hasLevelBeenFinished" src="assets/images/tick.png" class="tick"/>
        {{ levelName }}
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="col-6"
         id="code-column"
         data-html="true"
         data-placement="bottom"
         data-content="You create your program in here. We've added some blocks to help you get started.<br /><button class='btn btn-sm btn-primary btn-level popover-btn' onclick='nextTutorialPopup()'>Continue</button>">
      <div [class.hidden]="!isShowingBlockly"
           class="blockly"
           id="blocklyDiv"></div>
      <ace-editor
        #aceEditor
        [class.hidden]="isShowingBlockly"
        [(text)]="aceCode"
        [mode]="aceMode"
        [theme]="aceTheme"
        [options]="aceOptions"
        [readOnly]="false"
        [autoUpdateContent]="true"
        class="ace"></ace-editor>
      <div class="blockly-overlay" *ngIf="isRunningCode"></div>
    </div>
    <div class="col-6 text-center">
      <div class="row level-controls">
        <div class="col text-left">
          <button [disabled]="isFirstLevel || isRunningCode" (click)="previousLevel()"
                  class="btn btn-outline-primary btn-level">
            Previous Level
          </button>
        </div>
        <div class="col text-center">
          <button (click)="resetGrid()" [disabled]="isRunningCode" class="btn btn-outline-primary btn-level"
                  id="btn-reset"
                  data-html="true"
                  data-placement="bottom"
                  data-content="Click here to reset the grid to its original state.">
            Reset Grid
          </button>
        </div>
        <div class="col text-right">
          <button [disabled]="isLastLevel || isRunningCode" (click)="nextLevel()"
                  class="btn btn-outline-primary btn-level">
            Next Level
          </button>
        </div>
      </div>
      <table class="w-100">
        <tr>
          <td></td>
          <td *ngFor="let cell of grid[0]; let colNum = index" class="text-center">
            {{ colNum }}
          </td>
        </tr>
        <tr *ngFor="let row of grid; let rowNum = index">
          <td>{{ rowNum }}</td>
          <td *ngFor="let cell of row">
            <div class="btn btn-block"
                 [class.btn-secondary]="cell > 0"
                 [class.btn-outline-secondary]="cell === 0"
                 [class.btn-danger]="cell < 0"
                 [class.disabled]="cell === 0">
              {{cell}}
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <form class="form-inline">
        <fieldset [disabled]="isRunningCode">
          <div class="form-group">
            <label for="run-speed" class="run-speed-label">Run Speed</label>
            <select class="form-control run-speed-select" name="run-speed" id="run-speed" [(ngModel)]="stepInterval">
              <option *ngFor="let stepSpeed of stepSpeeds" [value]="stepSpeed.value">
                {{ stepSpeed.label }}
              </option>
            </select>
          </div>
        </fieldset>
      </form>
    </div>

    <div class="col-2 text-right">
      <button (click)="toggleIsShowingBlockly()" class="btn btn-outline-primary"
              [disabled]="isRunningCode"
              [innerHtml]="isShowingBlockly ? 'Use Code Editor' : 'Use Block Editor'"
              id="btn-mode"
              data-html="true"
              data-placement="top"
              data-content="And that's all you need to know. If you're experienced with programming you may prefer to use the code editor instead. Good luck!<br /><button class='btn btn-sm btn-primary btn-level popover-btn' onclick='nextTutorialPopup()'>Continue</button>">
      </button>
    </div>
    <div class="col-6">
    </div>
  </div>

  <hr/>
  <div class="row" [class.hidden]="!isShowingBlockly">
    <div class="col-6">
      <h3 class="mb-0">Console</h3>
      <h5 class="mt-0">
        <small class="text-muted smaller">
          Programming errors will be shown here
        </small>
      </h5>
      <textarea class="form-control" [(ngModel)]="consoleMessage" rows="8" readonly></textarea>
    </div>
    <div class="col-6">
      <h3 class="mb-0">Generated Javascript Code</h3>
      <h5 class="mt-0">
        <small class="text-muted smaller">
          Here is the Javascript code generated from your blocks.
        </small>
      </h5>
      <ace-editor
        [(text)]="blocklyJSCode"
        [mode]="aceMode"
        [theme]="aceTheme"
        [options]="aceGenerateBlocklyOptions"
        [readOnly]="true"
        [autoUpdateContent]="true"
        class="ace-demo"></ace-editor>
    </div>
  </div>

  <div class="row" [class.hidden]="isShowingBlockly || isShowingJSReference">
    <div class="col-12">
      <button type="button" class="btn btn-outline-primary btn-cheat-sheet"
              (click)="toggleIsShowingJSReference()">
        Show Javascript Reference
      </button>
      <h3 class="mb-0">Console</h3>
      <h5 class="mt-0">
        <small class="text-muted smaller">
          Programming errors will be shown here
        </small>
      </h5>
      <textarea class="form-control" [(ngModel)]="consoleMessage" rows="8" readonly></textarea>
    </div>
  </div>

  <div class="row" [class.hidden]="isShowingBlockly || !isShowingJSReference">
    <div class="col-12">
      <button type="button" class="btn btn-outline-primary btn-cheat-sheet"
              (click)="toggleIsShowingJSReference()">
        Show Console
      </button>
      <h3 class="mb-0">Javascript Reference</h3>
      <h5 class="mt-0">
        <small class="text-muted smaller">
          All the puzzles are solvable with the functionality detailed below.
        </small>
      </h5>

      <div class="row">
        <div class="col-4">
          <h5>Operations</h5>
          <ace-editor
            [(text)]="demoCodeOperations"
            [mode]="aceMode"
            [theme]="aceTheme"
            [options]="aceDemoOptions"
            [readOnly]="true"
            [autoUpdateContent]="false"
            class="ace-demo"></ace-editor>

          <h5>Ifs</h5>
          <ace-editor
            [(text)]="demoCodeIf"
            [mode]="aceMode"
            [theme]="aceTheme"
            [options]="aceDemoOptions"
            [readOnly]="true"
            [autoUpdateContent]="false"
            class="ace-demo"></ace-editor>
        </div>
        <div class="col-4">
          <h5>Loops</h5>
          <ace-editor
            [(text)]="demoCodeLoop"
            [mode]="aceMode"
            [theme]="aceTheme"
            [options]="aceDemoOptions"
            [readOnly]="true"
            [autoUpdateContent]="false"
            class="ace-demo"></ace-editor>
        </div>
        <div class="col-4">
          <h5>Function Calls</h5>
          <ace-editor
            [(text)]="demoCodeFunction"
            [mode]="aceMode"
            [theme]="aceTheme"
            [options]="aceDemoOptions"
            [readOnly]="true"
            [autoUpdateContent]="false"
            class="ace-demo"></ace-editor>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog" aria-labelledby="welcome-label"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="welcome-label">Welcome to Zero Out</h5>
      </div>
      <div class="modal-body">
        <p>
          The goal of this game is to create a computer program that will shift all the numbers in the grid
          to zero.
        </p>
        <p>
          The catch is that you're limited with the number of programming constructs you're allowed to use.
        </p>
        <p>
          You will need to know some basic programming to play this game.
        </p>
        <p>
          If you haven't done any programming before that's okay.
          Using <a href="https://scratch.mit.edu/" target="_blank">Scratch</a> is a great way learn basic
          programming techniques.
          Once you're feeling confident come back to play.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="skipTutorial()">Skip Tutorial</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
