.controls-row {
  margin-bottom: 5px;
}

.btn-level {
  width: 130px;
}

.hidden {
  display: none !important;
}

.blockly, .ace {
  width: 100%;
  height: 480px;
  min-height: 480px;
  max-height: 480px;
  display: inline-block;
}

.ace {
  overflow: auto;
}

.run-speed-label {
  margin-right: 10px;
}

.run-speed-select {
  min-width: 150px;
}

.error {
  margin-top: 10px;
  margin-bottom: 10px;
}

.level-name {
  font-weight: 600;
}

.blockly-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  height: calc(100% - 5px);
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 2000;
  margin-left: 15px;
  margin-right: 15px;
}

.level-controls {
  margin-bottom: 10px;
}

.col-level-name {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.code-block {
  font-size: 10pt;
}

.code-block br {
  font-size: 4pt;
}

.ace-demo {
  width: 100%;
  display: inline-block;
}

.smaller {
  font-size: 60%;
}

.tick {
  margin-right: 5px;
  margin-bottom: 2px;
}

.btn-cheat-sheet {
  float: right;
  position: absolute;
  top: 0;
  right: 15px;
}

.game-container {
  padding-top: 10px;
}
